body {
  color: #5e5e5e;
  background-color: #edecec;
  font-family: 'Roboto', sans-serif;
  font-size:13px;
  height:100%;
  margin: 0px;
  padding: 0px;
}
.ethernet-info {
  h2 {
    margin: 0;
  }
}
