<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Sanji Window Demo</title>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
</head>

<body ng-app="webapp" layout="column" ng-controller="AppController as ctrl">
  <!--[if lt IE 8]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>Sanji Window Demo</h3>
    </div>
  </md-toolbar>
  <div layout="row" layout-padding layout-align="center center">
    <div flex="33" flex-offset="66">
      <sanji-window window-name="Ethernet 1" window-states="ctrl.states">

        <div ng-controller="EthernetController as vm"
        ng-switch="vm.sanjiWindowMgr.getWindowStatus()">
          <div ng-switch-when="sanji-info">
            <div ng-include="'mx-ethernet-info.tpl.html'"></div>
          </div>
          <div ng-switch-when="sanji-edit">
            <div ng-include="'mx-ethernet-edit.tpl.html'"></div>
          </div>
        </div>

      </sanji-window>
    </div>
  </div>
  <div layout="row" layout-padding layout-align="center center">
    <div flex="33" flex-offset="66">
      <sanji-window window-name="Ethernet 2" window-states="ctrl.states">

      <div ng-controller="EthernetController as vm"
        ng-switch="vm.sanjiWindowMgr.getWindowStatus()">
          <div ng-switch-when="sanji-info">
            <div ng-include="'mx-ethernet-info.tpl.html'"></div>
          </div>
          <div ng-switch-when="sanji-edit">
            <div ng-include="'mx-ethernet-edit.tpl.html'"></div>
          </div>
        </div>

      </sanji-window>
    </div>
  </div>
  <div layout="row" layout-align="center center">
    <span class="md-caption">from the Sanji Team</span>
  </div>

  <script type ="text/ng-template" id="mx-ethernet-info.tpl.html">
    <div class="ethernet-info">
      <md-content>
        <small class="md-subheader">IP</small>
        <h2 ng-bind="::vm.ethernet.ip"></h2>
        <br/>
        <small class="md-subheader">Netmask</small>
        <h2 ng-bind="::vm.ethernet.netmask"></h2>
        <br/>
        <small class="md-subheader">Gateway</small>
        <h2 ng-bind="::vm.ethernet.gateway"></h2>
      </md-content>
    </div>
  </script>

  <script type ="text/ng-template" id="mx-ethernet-edit.tpl.html">
    <form class="form-horizontal"
      role="form"
      name="form"
      ng-submit=""
      layout="column"
      layout-padding
      novalidate>

      <md-content>
        <md-input-container>
          <label>IP</label>
          <input ng-model="vm.ethernet.ip">
        </md-input-container>
        <md-input-container>
          <label>Netmask</label>
          <input ng-model="vm.ethernet.netmask">
        </md-input-container>
        <md-input-container>
          <label>Gateway</label>
          <input ng-model="vm.ethernet.gateway">
        </md-input-container>
        <div layout="row" layout-align="end start">
          <md-fab-speed-dial md-open="vm.isOpen" md-direction="left" class="md-scale">
            <md-fab-trigger>
              <md-button aria-label="ethernet menu" class="md-fab md-acent">
                <ng-md-icon icon="menu" ng-attr-style="fill: white"></ng-md-icon>
              </md-button>
            </md-fab-trigger>
            <md-fab-actions>
              <md-button aria-label="save" class="md-fab md-raised md-mini md-primary">
                <ng-md-icon icon="save" ng-attr-style="fill: white"></ng-md-icon>
              </md-button>
              <md-button aria-label="go back"
                class="md-fab md-raised md-mini"
                ng-click="vm.sanjiWindowMgr.goBack()">
                <ng-md-icon icon="keyboard_backspace"
                ng-attr-style="fill: #e5e5e5"></ng-md-icon>
              </md-button>
            </md-fab-actions>
          </md-fab-speed-dial>
        </div>
      </md-content>

    </form>
  </script>
</body>

</html>
