<div class="row">
  <div class="col-sm-3">
    <nav class="nav-sidebar">
      <ul class="nav tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">SNMP</a></li>
        <li><a href="#tab2" data-toggle="tab">MAP</a></li>
        <li><a href="#tab3" data-toggle="tab">LINE CHART</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-sm-9">
    <sanji-window title="{{item.title}}" content-url="{{item.url}}"></sanji-window>
    <sanji-window title="{{item2.title}}" content-url="{{item2.url}}"></sanji-window>
    <sanji-window title="{{item3.title}}" content-url="{{item3.url}}"></sanji-window>
  </div>
</div>
