<div class="panel">
  <div class="mx-panel-heading clearfix">
    <div class="mx-panel-heading__title pull-left">
      <span ng-bind="title"></span>
    </div>
  </div>
  <div class="mx-slide-toggle">
    <div class="panel-body">
      <div ng-if="!!contentUrl" ng-include="contentUrl"></div>
    </div>
    <div class="panel-footer clearfix" ng-show="sanjiWindowMgr.isShowFooter()">
      <button type="button" class="btn btn-info" ng-click="sanjiWindowMgr.goBack()">
        <i class="fa fa-arrow-left"></i>
        Back
      </button>
    </div>
  </div>
</div>
