
// Global values
// --------------------------------------------------
$site-style: tiffany, jojo, protecsa;
$site-primary: #008787, black, #EF4135;
$site-success: #77b800, black, #90C63F;
$site-warning: #FF9C4D, black, #f39c12;
//$site-danger: #E74C3C, black;
$site-danger: #C0392B, black, #e74c3c;
$site-info: #3498DB, black, #3498db;
$site-bg: white, white, #f5f5f5;
$site-second-bg: #727171, white, #3d3738;
$site-third-bg: #008787, white, #455560;
$site-link: #f4f4f4, black, #918889;
$site-text: black, black, black;
$current-style: index($site-style, tiffany);

// mx-panel
$mx-panel-border: nth($site-link, $current-style);
$mx-panel-heading-bg: nth($site-second-bg, $current-style);
$content-height-small: 210px + 40px;
$content-height-medium: 350px + 40px;
$content-height-large: 500px + 30px;
$mx-panel-footer-height: 64px;
$mx-font-size-base: 15px;
