<div class="panel">
  <div class="mx-panel-heading clearfix">
    <div class="mx-panel-heading__title pull-left">
      <span ng-bind="title"></span>
    </div>
    <div class="pull-right">
      <a class="mx-panel-heading-btn__help" ng-if="helpInfoUrl"
        ng-dialog="helpUrl" ng-dialog-close-previous>
        <i class="fa fa-info"></i>
      </a>
      <a ng-click="sanjiWindowMgr.toggleWidget()" class="mx-panel-heading-btn">
        <i class="fa" ng-class="{true: 'fa-plus-square-o', false: 'fa-minus-square-o'}[sanjiWindowMgr.toggleStatus]"></i>
      </a>
    </div>
  </div>
  <div class="mx-slide-toggle" sanji-hide-window="{{sanjiWindowMgr.toggleStatus}}">
    <div class="panel-body">
      <div ng-if="!!contentUrl" ng-include="contentUrl"></div>
    </div>
    <div class="panel-footer clearfix" ng-show="'sanji-edit'===sanjiWindowMgr.getWindowStatus()">
      <button class="btn btn-info" ng-click="sanjiWindowMgr.goBack()">
        <i class="fa fa-arrow-left"></i>
        Back
      </button>
    </div>
  </div>
</div>
