<script type ="text/ng-template" id="sanji-window.tpl.html">
  <md-card class="sj-window" cg-busy="{promise: vm.sanjiWindowMgr.promise, templateUrl: 'sanji-window-loading.tpl.html'}">
    <md-card-header class="sj-window-header">
      <md-card-header-text layout layout-align="space-between center">
        <h3 flex ng-bind="vm.windowName"></h3>
        <div flex class="sj-window-btn-group">
        <md-button ng-if="undefined!==vm.showLoadingBtn"
        type="button" aria-label="Refresh" class="md-icon-button" ng-click="vm.refresh()">
            <ng-md-icon icon="refresh"></ng-md-icon>
          </md-button>
          <md-menu ng-if="1 < vm.sanjiWindowMgr.links.length"
          md-position-mode="target-right target">
          <md-button type="button" aria-label="Open menu" class="md-icon-button"
          ng-click="$mdOpenMenu($event)">
              <ng-md-icon md-menu-origin icon="apps"></ng-md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item ng-repeat="state in vm.sanjiWindowMgr.links track by $index">
                <md-button type="button" aria-label="{{::state.linkName}}"
                ng-click="vm.sanjiWindowMgr.navigateTo(state.name)">
                  <div layout>
                    <p flex ng-bind="::state.linkName"></p>
                    <ng-md-icon ng-if="undefined!==state.icon"
                      md-menu-origin icon="{{::state.icon}}"></ng-md-icon>
                  </div>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <div ng-transclude></div>
    </md-card-content>
  </md-card>
</script>
