<script type ="text/ng-template" id="sanji-window.tpl.html">
  <md-card layout=column>
    <md-toolbar class="card-header" md-scroll-shrink ng-if="true">
      <div class="md-toolbar-tools">
        <h3>
          <span>{{vm.windowName}}</span>
        </h3>
        <md-menu md-position-mode="target-right target">
          <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <ng-md-icon md-menu-origin icon="apps" ng-attr-style="fill: #5e5e5e"></ng-md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="state in vm.sanjiWindowMgr.states track by $index">
              <md-button ng-if="undefined === state.linkName" aria-label="{{::state.linkName}}"
              ng-click="vm.sanjiWindowMgr.navigateTo(state.name)">
                <div layout="row">
                  <p flex ng-bind="::state.linkName"></p>
                  <ng-md-icon ng-if="undefined!==state.icon"
                    md-menu-origin icon="{{::state.icon}}" ng-attr-style="fill: #5e5e5e"></ng-md-icon>
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>
    <md-card-content>
      <div ng-transclude></div>
    </md-card-content>
  </md-card>
</script>
