$card-header-height: 42px;
$card-header-btn-height: 42px;
$card-header-btn-width: 42px;
$card-header-color: #5e5e5e;

md-card {
  position: relative;
  > .card-header {
    background-color: #f7f7f7;
    height: $card-header-height;
    min-height: $card-header-height;
    color: $card-header-color;

    > .md-toolbar-tools {
      height: $card-header-height;
      min-height: $card-header-height;

      > .md-menu {
        padding: 0;

        > .md-icon-button {
          width: $card-header-btn-width;
          height: $card-header-height;
          min-height: $card-header-height;
          line-height: $card-header-height;
          color: $card-header-color;
        }
      }
    }
  }
}
