<form class="form-horizontal" name="openvpnForm" role="form" ng-submit="submit()" mx-validator-method="blur" mx-validator-submit novalidate>
  <div class="form-group">
  
    <label class="col-sm-4 control-label">
      Enable:
    </label>
  
  
    
      
          <div class="col-xs-offset-2 col-sm-offset-4">
          <label class="checkbox-inline">
            <input name="enable" type="checkbox" ng-model="bundle.edit.enable">
              enable
            </label>
          </div>
      
    
  
</div>
<div class="form-group">
  
  <label class="col-sm-4 control-label">
    Read Community:
  </label>
  
  
  <div class="col-sm-6">
    <input name="readCommunity" type="text" class="form-control"
      ng-model="bundle.edit.readCommunity"
      
      
      mx-validator="required"
      
      autocorrect="off" autocapitalize="off">
  </div>
  
</div>
<div class="form-group">
  
  <label class="col-sm-4 control-label">
    Write Comminity:
  </label>
  
  
  <div class="col-sm-6">
    <input name="writeCommunity" type="text" class="form-control"
      ng-model="bundle.edit.writeCommunity"
      
      
      mx-validator="required"
      
      autocorrect="off" autocapitalize="off">
  </div>
  
</div>
<div class="form-group">
  
  <label class="col-sm-4 control-label">
    Port:
  </label>
  
  
  <div class="col-sm-6">
    <input name="port" type="text" class="form-control"
      ng-model="bundle.edit.port"
      
      
      mx-validator="required,number"
      
      autocorrect="off" autocapitalize="off">
  </div>
  
</div>
<div class="form-group">
  <div class="col-xs-2 col-xs-offset-8 text-right">
    <button class="btn btn-primary" ng-disabled="openvpnForm">
      <i class="fa fa-save"></i> Save
    </button>
  </div>
</div>

</form>
